<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Delete User</title>
        <link rel="stylesheet" href="/static/DeleteUser.css">
    </head>

    <body>
        <div class="outer-border">
            <div class="mid-border">
                <div class="inner-border">

                    <div class="logo"><img src="/static/logo.png" /></div>
                    <a href="/AdminMainPage"><button class="home-btn" type="button">Home</button></a>
                    <a href="/"><button class="signout-btn" type="button">Sign Out</button></a>

                    <div class="corners">
                        <div class="feed">
                            <div class="title-box">

                                    <h1>Delete User</h1>
                            </div>
                            <div class="select">
                                <form method="POST">
                                    <label for="work_id">Select a user to delete:</label>
                                    <select name="work_id" id="work_id">
                                        {% for user in users %}
                                        <option value="{{ user[0] }}">{{ user[1] }}</option>
                                        {% endfor %}
                                    </select>
                                    <button class="submit-btn" type="submit">Delete</button>
                                </form>
                            </div>
                            <div class="users">
                                <h2>Users:</h2>
                                {% for user in users %}
                                <div class="user-box">
                                    <p>{{ user[1] }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>

</html>