<!-- Page Admin's see when deleting or adding a WorkID -->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/EditWorkID.css" />
    </head>

    <body>
        <div class="outer-border">
            <div class="mid-border">
                <div class="inner-border">
                    <div class="logo"><img src="/static/logo.png" /></div>
                    <a href="/AdminMainPage"><button class="home-btn" type="button">Home</button></a>
                    <a href="/"><button class="signout-btn" type="button">Sign Out</button></a>
                    <div class="corners">
                        <div class="feed">
                            <div class="title-box">
                                <div class="border-box">
                                    <h1>Delete User</h1>
                                </div>
                            </div>
                            <!-- Form to add or delete WorkID -->
                            <div class="select">
                                <form method="POST">
                                    <input name="work_id" placeholder="Select WorkID">
                                    </i>
                                    <select name="action">
                                        <option value="add">Add</option>
                                        <option value="delete">Delete</option>
                                    </select>
                                    <button class="submit-btn" type="submit">Submit</button>
                                </form>
                                <div class="users">
                                    <h2>WorkIDs:</h2>
                                    {% for work_id in work_ids %}
                                    <div class="user-box">
                                        <p>{{ work_id }}</p>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </body>

</html>